* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: burlywood;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://www.artic.edu/iiif/2/1adf2696-8489-499b-cad2-821d7fde4b33/full/843,/0/default.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px) brightness(50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#game {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
}
.scroll {
  overflow-y: auto;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card img {
  object-fit: cover;
  height: 140px;
  width: 100px;
  user-select: none;
  transition: all 1s;
  border-radius: 6px;
}

.off img {
  background-color: rgb(147, 133, 53);
  animation: un-flip 0.2s ease-in-out;
  object-fit: contain;
  padding: 1rem;
}
.dashboard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.dashboard h2 {
  font-size: 2rem;
  color: burlywood;
  text-align: center;
}

form {
  display: flex;
  align-items: center;
}
form input {
  height: 3rem;
  width: 150px;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 110%;
  margin-right: 2rem;
}

.flip {
  animation: flip 0.4s ease-in-out;
}

button {
  background-color: burlywood;
  color: rgb(13, 13, 64);
  font-size: 110%;
  border-radius: 6px;
  width: 150px;
  height: 3rem;
  cursor: pointer;
  font-size: x-large;
  transition: all 0.4s ease-in-out;
}
button:hover {
  transform: scale(1.2);
}

.match {
  animation: match 0.6s ease-in-out;
}
.loading {
  position: absolute;
  inset: 0;
  background-color: aliceblue;
  opacity: 0.3;
  z-index: 20;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.load-spin {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 0.25rem solid brown;
  border-top-color: white;
  animation: spin 2s infinite linear;
}

.high-score {
  position: absolute;
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  top: 10px;
  left: 10px;
  z-index: 10;
  height: 40px;
  background-color: burlywood;
  padding: 2rem;
  border-radius: 2px;
  color: rgb(13, 13, 64);
}
.current-score {
  position: absolute;
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  top: 10px;
  right: 10px;
  z-index: 10;
  height: 40px;
  background-color: burlywood;
  padding: 2rem;
  border-radius: 2px;
  color: rgb(13, 13, 64);
}

.total-matched {
  position: absolute;
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  height: 40px;
  background-color: burlywood;
  padding: 2rem;
  border-radius: 2px;
  color: rgb(13, 13, 64);
}

.end-game {
  animation: spin 0.4s linear 2;
}

@keyframes flip {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes un-flip {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes match {
  0%,
  100% {
    transform: scale(0) rotate(0);
  }
  50% {
    transform: scale(1.1) rotate(180deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
