* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(pexels-pixabay-210779.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px) brightness(75%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#game {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;

  opacity: 0;
  transition: all 1s ease;
}
.card {
  width: 100px;
  height: 140px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.card p {
  font-size: 72px;
  user-select: none;
}

.off {
  background-color: rgb(240, 17, 17);
  transition: all 0.4s ease-in-out;
}
.controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.controls p {
  font-size: 2rem;
  color: white;
}
.anim {
  animation: flip 0.4s ease-in-out;
}
button {
  background-color: wheat;
  color: brown;
  font-size: 110%;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 10px;
  border: 1px solid brown;
  width: 100px;
  cursor: pointer;
  font-size: x-large;

  transition: all 0.4s ease-in-out;
}
button:hover {
  transform: scale(1.2);
}

.match {
  animation: match 0.6s ease-in-out;
}

@keyframes flip {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(0.1);
  }
  100% {
    opacity: 1;
    transform: scaleX(0);
  }
}

@keyframes match {
  0%,
  100% {
    transform: scale(0) rotate(0);
  }
  50% {
    transform: scale(1.1) rotate(180deg);
  }
}
